/** 
    Creator : GreyingError
    Site : https://www.NineNeins.com
    Blog : https://www.9Neins.ga
    Email : GreyingError@ProtonMail.com
    GitHub : 9neinG
    Discord : GreyingError#1093

    Project : NineNeins.Com Website Theme
    Language : CSS
    Main Theme
*/
/** 
    Home
    Links : Home, Services, Online, Blog, Contact
*/ 

body {
	margin: 0;
	padding: 0;
	color: #ccc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px; 
	background-color: #0a6298; 
	background-image: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/qC64McD/Greying-Error9-body.png);
	background-repeat: no-repeat;
	background-position: center top;
}

h1, h2, h3, h4, h5, h6 {
	color:#ebebeb;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.darkmode h1, h2, h3, h4, h5, h6 {
	color: #999999;
	font-weight:400;
	padding: 0;
	margin: 0 0 10px 0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 { font-size:34px; margin-bottom: 35px  }
h2 { font-size:26px; margin-bottom: 30px; line-height: 30px; }
h3 { font-size:20px; line-height: 24px }
h4 { font-size:18px }
h5 { font-size:16px }
h6 { font-size:12px }

.left { float:left }
.right { float:right }
.clear { clear: both }
.padthis5 { padding-top: 5px; }
.padthis7 { padding-top: 7px; }
.padthis10 { padding-top: 10px; }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h60 { height: 60px }

img { margin: 0; padding: 0; border: 0; }
.img_border { border: 0px solid #136fa8; background: #001f33; }
.img_border_s { padding: 3px }
.img_border_b { padding: 6px }
.img_nom { display: block; margin-bottom: 15px }
.img_ic { float: left; display: block; margin: 1px 20px 8px 0; width: 64px; height:64px; }
.img_fr { float: right; margin: 1px 0 8px 20px }

p { margin: 0 0 10px 0; padding: 0 }
em { color: #fff }
hr { clear: both; margin-bottom: 40px; padding-top: 28px; border: none; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/vB3ZnXB/Greying-Error9-hr-divider.png) center bottom no-repeat }

label { display: block; }
input { margin-bottom: 10px }

a:link, a:visited { color:#fff; text-decoration: none}
a:hover { text-decoration:underline }
a:hover,a:active { outline:none }

a.more { display: inline-block; text-decoration: none; margin-top: 15px; color: #00385b; width: 106px; height: 24px; line-height: 24px; text-align: center; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -197px -6px ; }
.darkmode a.more { display: inline-block; text-decoration: none; margin-top: 15px; color: #00385b; width: 106px; height: 24px; line-height: 24px; text-align: center; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -197px -6px ; }

ul.nobullet { margin: 0; padding: 0; list-style: none }
ul.nobullet li { margin: 0; padding: 0 }

ul.list_bullet { margin: 10px 0 10px 15px; padding: 0; list-style: none }
ul.list_bullet li { color:#fff; margin: 0 0 7px 0; padding: 0 0 0 20px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/hLcMNvn/Greying-Error9-bullet.png) no-repeat scroll 0 5px  }
ul.list_bullet li a { color: #fff; font-weight: normal; text-decoration: none }
ul.list_bullet li a:hover { color: #fff }

/** Columns **/
.content_wrapper { overflow: hidden; width: 100% }
.content_mb_5 { margin-bottom: 0px }
.content_mb_30 { margin-bottom: 30px; }
.content_mb_60 { margin-bottom: 60px }

.col_2 {width:420px; color: #fff;}
.col_3 {width:260px; color: #666;}
.col_4 {width:180px; color: #fff;}
.col_23 {width:580px;}
.col_34 {width:660px; color: #fff;}
.col_q {width:180px; color: #999999;}

.darkmode .col_2 {width:420px; color: #fff;}
.darkmode .col_3 {width:260px; color: #fff;}
.darkmode .col_4 {width:180px; color: #fff;}
.darkmode .col_23 {width:580px;}
.darkmode .col_34 {width:660px; color: #fff;}
.darkmode .col_q {width:180px; color: #999999;}

.col_2, .col_3, .col_4, .col_23, .col_34, .col_q { float:left; margin: 0 60px 0 0 }

.col_4 .img_ic { margin-right: 15px }
.col_4 .text { float: right; display: block; width: 130px }
.col_4 .text h3 { margin-bottom: 10px }
.col_q .text { float: right; display: block; width: 130px }
.col_q .text h3 { margin-bottom: 10px }

.left {float:left }
.right {float:right }
.no_margin_right {margin-right:0 !important;}
.margin_bottom { margin-bottom: 30px }

#GreyingError9_wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 40px 10px 0;
}
#GreyingError9_header {
	position: relative;
	width: 100%;
	height: 75px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) 0px -371px ;
	z-index: 3;
}
.darkmode #GreyingError9_header {
	position: relative;
	width: 100%;
	height: 75px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) 0px -371px ;
	z-index: 3;
}
#GreyingError9_slider {
	position: relative;
	clear: both;
	width: 900px;
	margin-top: -7px;
	height: 292px;
	padding: 60px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/0YQLP8h/Greying-Error9-slider.png);
	z-index: 2;
}
/*.darkmode #GreyingError9_slider {
	position: relative;
	clear: both;
	width: 900px;
	margin-top: -7px;
	height: 292px;
	padding: 60px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png);
	z-index: 2;
}
*/
#GreyingError9_middle {
	position: relative;
	width: 900px;
	margin-top: -5px;
	height: 118px;
	padding: 30px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat 0px -450px ;
	z-index: 1;
	color: #666;
}
.darkmode #GreyingError9_middle {
	position: relative;
	width: 900px;
	margin-top: -5px;
	height: 118px;
	padding: 30px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat 0px -450px ;
	z-index: 1;
	color: #999999;
}
#GreyingError9_middlegamemod {
	position: relative;
	width: 900px;
	margin-top: -5px;
	height: 118px;
	padding: 30px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat 0px -450px ;
	z-index: 1;
	color: #666;
}
.darkmode #GreyingError9_middlegamemod {
	position: relative;
	width: 900px;
	margin-top: -5px;
	height: 118px;
	padding: 30px 40px;
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat 0px -450px ;
	z-index: 1;
	color: #999999;
}
#GreyingError9_top {
	height: 30px;
	margin-bottom: 10px;
}

#GreyingError9_main { clear: both; margin: 20px 0; padding: 20px 40px }
#GreyingError9_main_s { clear: both; margin: 0px 0; padding: 0px 40px }
#GreyingError9_content { width: 580px }
#GreyingError9_sidebar { width: 260px; color:#fff;}

#GreyingError9_footer_wrapper {
	clear: both;
	width: 100%;
	background: #f1f1f1;
}

.darkmode #GreyingError9_footer_wrapper {
	clear: both;
	width: 100%;
	background: #575757;
}
#GreyingError9_footer {
	width: 900px;
	margin: 0 auto;
	padding: 40px;
}

#GreyingError9_search { float: right; width: 280px; height: 30px; background:url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) -700px -0px;}
.darkmode #GreyingError9_search { float: right; width: 280px; height: 30px; background:url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) -700px -0px;}
#GreyingError9_search form {
	margin: 0;
	padding: 0;
}

#GreyingError9_search .txt_field {
	float: left;
	display: block;
	height: 24px;
	width: 190px;
	padding: 3px 5px;
	margin: 0;
	color: #666;
	font-size: 12px;
	font-variant: normal;
	border: none;	
	background: none;
}

#GreyingError9_search .sub_btn {
	float: right;
	display: block;
	height: 30px;
	width: 80px;
	cursor: pointer;
	border: none;
	background: none;	
}

#site_title { float: left; margin: 25px 20px 0 0 }
#site_title a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	width: 240px; 
	height: 30px; 
	color: #acacac; 
	text-indent: -10000px; 
	background:url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -5px -61px ;
}

.darkmode #site_title a { 
	display: block; 
	font-size: 12px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	width: 240px; 
	height: 30px; 
	color: #acacac; 
	text-indent: -10000px; 
	background:url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -5px -61px ;
}

#GreyingError9_menu { float: left; width: 660px; }
#GreyingError9_menu ul { margin: 0; padding: 4px 0; list-style: none }
#GreyingError9_menu ul li { display: block; float: left; margin: 0; padding: 8px 12px 8px 10px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png)no-repeat -370px -293px ; }
.darkmode #GreyingError9_menu ul li { display: block; float: left; margin: 0; padding: 8px 12px 8px 10px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png)no-repeat -370px -293px ; }

#GreyingError9_menu ul li a { 
	display: block; 
	float: left; 
	width: 100px; 
	height: 16px; 
	padding-top: 35px; 
	text-align: center; 
	color: #999; 
	background-position: center top; 
	background-repeat: no-repeat 
} 

#GreyingError9_menu ul li a:hover, #GreyingError9_menu ul li a.selected { color: #333 }
#GreyingError9_menu ul li a.home { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -262px -48px; }
#GreyingError9_menu ul li a.services { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -383px -48px; }
#GreyingError9_menu ul li a.online { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -507px -48px; }
#GreyingError9_menu ul li a.blog { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -625px -48px; }
#GreyingError9_menu ul li a.contact { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -752px -48px; }
#GreyingError9_menu ul li.last { background: none }

.darkmode #GreyingError9_menu ul li a.home { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -262px -48px; }
.darkmode #GreyingError9_menu ul li a.services { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -383px -48px; }
.darkmode #GreyingError9_menu ul li a.online { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -507px -48px; }
.darkmode #GreyingError9_menu ul li a.blog { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -625px -48px; }
.darkmode #GreyingError9_menu ul li a.contact { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -752px -48px; }

#GreyingError9_middle .col_3 { width: 260px; margin-right: 24px; padding-right: 24px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -324px -145px }}
.darkmode #GreyingError9_middle .col_3 { width: 260px; margin-right: 24px; padding-right: 24px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) no-repeat -324px -145px }}

#GreyingError9_middle .no_padding_right { padding-right: 0; background: none }
#GreyingError9_middle h2 { color: #333; font-size: 20px; margin-bottom: 0px }
#GreyingError9_middle h2 a { color: #333 }
#GreyingError9_middle p { font-size: 11px }

.darkmode #GreyingError9_middle h2 { color: #999999; font-size: 20px; margin-bottom: 0px }
.darkmode #GreyingError9_middle h2 a { color: #999999 }

.GreyingError9_joini { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -276px -694px; }
.GreyingError9_discordi { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -7px -694px; }
.GreyingError9_nineneinsi { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -190px -694px; }
.GreyingError9_archivi { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) no-repeat -98px -692px; }
.GreyingError9_ratedi { background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/Jcrwvt8/GtIcon.png) }

.bots { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #054b77 }
.bots .date { color: #fff }
.bots a { display: block; margin-bottom: 10px; font-weight: 700 }
.bots p { font-size: 11px }

.GreyingError9_nknowsi { width : 100px; height: 75px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/8M3Bgm9/9-Knows-Icon.png) no-repeat ; }
.GreyingError9_bitshooti { width : 100px; height: 75px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/jZ4LS4d/Bit-Shoot-Icon.png) no-repeat ; }
.GreyingError9_bravei { width: 160px; height:160px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/0Mrx7Js/Brave-Meta.png) ; }
.GreyingError9_loadi { width: 160px; height: 160px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/tMdy84V/Load-Screen9-Neins20029-160x160-Comp.png) -53px; }
.GreyingError9_discodemojii { width : 100px; height: 75px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/WH5HgV1/Discord-Emoji-Preview-1.png) no-repeat ; }
.GreyingError9_ingamei { width : 100px; height: 75px; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/J37qNw2/ingamec-1.png) no-repeat ; }

.testimonial {
	text-align: center;
}
.testimonial blockquote {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #fff;
}
.testimonial .name span{
	color: #ccc;
	font-size: 12px
}

/* Gallery */
#gallery li { display: block; float: left; margin: 0 18px 20px 0; padding: 0; width: 280px; position: relative; }
#gallery li span { display: block }
#gallery li span a.more { display: block; margin-top: 10px }
#gallery li.no_margin_right { margin-right: 0 }
#gallery li span {
display: none; 
font-size: 11px; 
position: absolute; 
bottom: 7px; 
left: 7px; 
padding: 5px; 
background: #fff; 
color: #ccc;
width: 266px; 
line-height: 1.2em;
background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/GvxY5HY/caption-background.png
) repeat;
}
#gallery li span h4 { color: #fff; margin-bottom: 10px; font-size: 14px }
#gallery li a:hover { text-decoration: none }

.col_2 .text { width: 260px; float: right; color: #fff;}
.darkmode .col_2 .text { width: 260px; float: right; color: #999999;}
.post_list { margin-bottom: 60px }
.post_list h2 { font-size: 20px; line-height: 24px; margin-bottom: 10px }

.post { clear: both; margin: 0 0 40px 0; padding: 0 0 40px 0; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) repeat-x bottom -314px -118px; }
.darkmode .post { clear: both; margin: 0 0 40px 0; padding: 0 0 40px 0; background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/YDb6mYm/Greying-Error9-DARK-Full-Site-Sprite.png) repeat-x bottom -314px -118px; }

.post h2 { margin-bottom: 30px }
.post p { margin-bottom: 15px }
.comment_list { margin: 0 0 40px; padding: 0; list-style: none }
.comment_list .comment_box { padding: 20px; border-bottom: 1px solid #00385b }
.comment_list li { margin-bottom: 40px }
.comment_list li ul { list-style: none; background: none }
.comment_list li ul li { margin-bottom: 20px }
.comment_list li ul li .comment_box { background: #055789 }
.comment_content { float: right; width: 430px }
.comment_list li ul li.depth_2 .comment_content  { width: 390px }
.comment_list li ul li.depth_3 .comment_box { background: #014873}
.comment_list li ul li.depth_3 .comment_content  { width: 350px }


#comment_form { width: 400px; margin-top: 40px }
#comment_form form label { display: block; margin-bottom: 5px; }
#comment_form form .input_field { 
	display: block; 
	width: 192px; 
	padding: 5px; 
	margin-bottom: 20px; 
	color: #FFFFFF;  
	background: #045688; 
	border: 1px solid #1473ad; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#comment_form form textarea { 
	width: 388px; 
	height: 130px; 
	padding: 5px; 
	margin-bottom: 10px; 
	color: #FFFFFF;
	background: #045688; 
	border: 1px solid #1473ad; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

/* sidebar */
.sidebar_section {
	padding: 10px;
	width: 200px;
	margin-bottom: 40px;
	background: url(images/GreyingError9_sidebar_sc.png) bottom no-repeat
}

ul.sidebar_link li {
	padding: 10px 0;
	border-bottom: 1px solid #00385b
}

ul.rc_comment li span { color: #fff }

#contact_form { padding: 0; margin-bottom: 40px; width: 580px; }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form label { display: block; margin-bottom: 5px; }
#contact_form form .input_field { 
	width: 248px; 
	padding: 5px; 
	margin-bottom: 20px; 
	color: #FFFFFF;
	background: #045688; 
	border: 1px solid #1473ad; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contact_form form textarea {
	width: 568px; 
	height: 130px; 
	padding: 5px; 
	margin-bottom: 10px; 
	color: #FFFFFF;
	background: #045688; 
	border: 1px solid #1473ad; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#contact_form form .submit_btn, #comment_form form .submit_btn { 
	cursor: pointer;
	color: #ffffff; 
	text-decoration: none;
	margin: 0px; 
	padding: 8px 14px; 
	background: #00385b; 
	border: 1px solid #002942
}

#GreyingError9_footer { color: #3d4043; font-size: 11px; }
#GreyingError9_footer a { color: #5d676e; }
#GreyingError9_footer h4 { color: #333333 }
#GreyingError9_copyright { 
	margin-top: 40px; 
	color: #999999; 
	text-align: center; 
	width: 900px; 
	height: 52px; 
	line-height: 52px; 
	background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/D9ps0DX/Greying-Error9-Full-Site-Sprite-M-C.png) 0px -628px ;
}

.darkmode #GreyingError9_footer { color: #999999; font-size: 11px; }
.darkmode #GreyingError9_footer a { color:#999999 ; }
.darkmode #GreyingError9_footer h4 { color: #999999 }

 .eth_button {
    position: relative;
    display: inline-block;
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFF00;
    background: #000000 ;
}

.GreyingError9_paging { margin: 0 0 20px; padding: 0 }
.GreyingError9_paging ul { margin: 0; padding: 0; list-style: none }
.GreyingError9_paging ul li { margin: 0; padding: 0; display: inline }
.GreyingError9_paging ul li a { 
	float: left; 
	display: block; 
	color: #ffffff; 
	text-decoration: none; 
	margin-right: 5px; 
	padding: 5px 10px; 
	background: #00385b; 
	border: 1px solid #002942
}
.GreyingError9_paging ul li a:hover { background: #fff; color: #333 }
 
img[src*="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] { display: none;}


/*ADD GAME*/
body {
  font-family: arial;
  margin: 0;
  padding: none;
  background-color: #000000;
}

.emscripten { padding-right: 0; margin-left: auto; margin-right: auto; display: block; }
div.emscripten { text-align: center; }
div.emscripten_border { border: 1px solid black; }
/* the canvas *must not* have any border or padding, or mouse coords will be wrong */
canvas.emscripten { border: 0px none; background-color: black; width: 100%; height: 400px; }

#emscripten_logo {
  display: inline-block;
  margin: 0;
}

.spinner {
  height: 30px;
  width: 30px;
  vertical-align: top;
  position: absolute;

  -webkit-animation: rotation .8s linear infinite;
  -moz-animation: rotation .8s linear infinite;
  -o-animation: rotation .8s linear infinite;
  animation: rotation 0.8s linear infinite;

  border-left: 5px solid rgb(235, 235, 235);
  border-right: 5px solid rgb(235, 235, 235);
  border-bottom: 5px solid rgb(235, 235, 235);
  border-top: 5px solid rgb(120, 120, 120);

  border-radius: 100%;
  background-color: rgb(189, 215, 46);
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#statusbar_container {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
}

#statusbar {
  width: 50%;
  margin: auto;
  min-width: 340px;
  padding: 10px;
  height: 40px;
  background-color: rgb(40, 40, 40);
}

#status {
  vertical-align: top;
  font-weight: bold;
  color: rgb(120, 120, 120);
  width: 100%;
  padding-bottom: 2px;
  text-align: left;
}

#progress {
  height: 20px;
  width: 100%;
}

#ContextContainer {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
}
#ContextButton {
  text-decoration: none;
  color: grey;
  font-size: xx-large;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
}
#ContextButton:focus {
  outline: none;
}
#ContextMenu a {
  text-decoration: none;
  color: lightgrey;
}
#ContextMenu a:hover {
  text-decoration: nsone;
  color: grey;
}
#ContextMenu {
  background-color: rgb(40,40,40);
  padding: 5px;
}

/*DarkMode*/
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-light: #0a6298;
  --clr-dark: #3d4043;
  --clr-primary: #dbffa2;
  --clr-secondary: #c3fcf2;
  --clr-accent: #ff7750;
  --clr-content-wrapper: #0F151C;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);

  --ff-title: "Playfair Display", serif;
  --ff-body: "Assistant", sans-serif;

}

.darkmode {
  --clr-light: #0a6298;
  --clr-dark: #3d4043;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;
  --clr-content-wrapper: #0F151C;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);

}

body {
  content-wrapper: #FAFAFA;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--ff-body);
  font-size: 12px;
  line-height: 1.6;

}

.menu-secondary-container::after {
    position: relative;
    height: 38px;
    z-index: 300;
    background: url(https://i.ibb.co/tC67kMH/Neins-Blog-CSS.png) no-repeat 0px 0px ;
    border: 0px solid #121212
}

.subtitle {
  max-width: 600px;
}

.btn-group {
  margin: 2em 0;
  display: relative;
}

.btn-secondary {
  background: var(--foreground);
  color: var(--background);
  // border: currentColor solid 2px;
}

.btn-accent {
  background: var(--clr-accent);
  color: var(--foreground);
}

.btn::after {
  content: &quot;&quot;;
  position: absolute;
  width: 100%;
  height: 100%;
  border: var(--foreground) 2px solid;
  left: -4px;
  top: 4px;
  border-radius: inherit;
  z-index: -1;
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  // SVG icon from Font Awesome
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 3em;
}

.main-content-area{
    background-image: none;
    background: #595959;
}

.main-content-area-container{
    background-image: none;
    background: #595959;
}

.darkmode ::webkit-scrollbar {
    background-color: #1c1e1f;
    color: #c5c1b9;
}

.darkmode ::webkit-scrollbar-thumb {
    background-color: #3d4143;
}

.darkmode .sidebarpbt a {
    text-decoration: none;
    color: #66ccff
}

.darkmode .sidebarpbt h2,
h3.widgettitle {
    background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/tC67kMH/Neins-Blog-CSS.png) no-repeat -35px -43px ;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: initial;
    border-left-color: #4e585d;
    border-right-color: #4e585d;
    border-bottom-color: #4e585d;
    color: #99ccff;
    text-decoration-color: initial;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase
}

.darkmode button.btn {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #575757;
    color: #e8e6e3;
    background-color: #181a1b;
    outline-color: initial;
    box-sizing: border-box;
    border-image: initial;
}

.darkmode .menu-primary-container {
    float: left;
    padding: 0;
    position: relative;
    height: 66px;
    background: url() ;
    z-index: 400
}

.darkmode .wrap-menu-primary .sf-shadow ul {
    background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://4.bp.blogspot.com/-qBT-7Mi-J5Y/UHipzeBfaoI/AAAAAAAAHiM/j9pqa4aF9xs/s1600/menu-primary-shadow.png) no-repeat bottom right
}

.darkmode .menu-secondary-container {
    position: relative;
    height: 38px;
    z-index: 300;
    background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/tC67kMH/Neins-Blog-CSS.png) no-repeat 0px -42px ;
    border: 0px solid #121212
}

.darkmode .menu-secondary ul {
    min-width: 160px
}

.darkmode .menu-secondary li a {
    color: #66ccff;
    padding: 13px 15px 13px 15px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal
}

.darkmode .menu-secondary li a:hover,
.darkmode .menu-secondary li a:active,
.darkmode .menu-secondary li a:focus,
.darkmode .menu-secondary li:hover>a,
.darkmode .menu-secondary li.current-cat>a,
.darkmode .menu-secondary li.current_page_item>a,
.darkmode .menu-secondary li.current-menu-item>a {
    color: #fff;
    background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://i.ibb.co/tC67kMH/Neins-Blog-CSS.png) no-repeat -114px -91px ;
    outline: 0
}

.darkmode .tabs-widget li a {
    color: #fff;
    background: url(https://azoldgimom.cloudimg.io/cdn/n/n/https://3.bp.blogspot.com/-89oZWT7VN1Q/UHip5ezTIPI/AAAAAAAAHi8/mT6t5-yWEbM/s1600/tabs-bg.png) left top repeat-x;
    border: 1px solid #000;
    background-color: initial;
    border-top-color: rgb(102, 102, 102);
    border-right-color: rgb(102, 102, 102);
    border-bottom-color: rgb(102, 102, 102);
    border-left-color: rgb(102, 102, 102);
    padding: 6px 16px;
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 12px;
    line-height: 12px
}

/*Mobile Another Project for Another Day*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

*/WindowsPhones*/
/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

}

/* Portrait */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px)  
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) 
  and (orientation: landscape) {

}


