/*STATIC IMAGES*/

.promo,
.promo h3,
.promo a:link,
.promo a:visited,
.promo a:hover,
.promo a:active {

    color: darkgrey;
    text-shadow: 0 0 40px black;
    text-decoration: none;
    text-align: center;
}

.promo-item {

    height: 200px;
    width: 196px;
    line-height: 180px;
    text-align: center;
}

.promo-item:hover {

    background-size: 110%;
    border: 10px solid rgba(255, 255, 255, 0.3);
    line-height: 160px;
}

.promo-item h3 {

    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}


/*Contact*/
.item-Gab {

    background: url('./../../Images/Icons/Contact/gabicon.png');
    height: 150px;
    width: 150px;
    border: 0;
}

.item-Minds {

    background: url('./../../Images/Icons/Contact/mindsicon.png');
    height: 150px;
    width: 150px;
    border: 0;
}

.item-Teleg {

    background: url('./../../Images/Icons/Contact/teleicon.png');
    height: 150px;
    width: 150px;
    border: 0;
}

.item-bitp {

    background: url('./../../Images/Icons/Contact/9bitvid.png');
    height: 89px;
    width: 805px;
}

/*Shop Deals*/
.item-LNST {

    background: url('../../Images/Blog/LNST/Sypnosis/Newswatri.svg');
}

.item-5 {

    background: url('./../../Images/Icons/Shop/start-p.jpg');
}

.item-6 {

    background: url('./../../Images/Icons/Shop/holi-p.jpg');
}

/*Affiliates*/
.item-Glass {

    background: url('./../../Images/a/Spon/GlassWire-Blog.png');
    width: 281px;
}

.item-Brave {

    background: url('./../../Images/a/Spon/Brave-Blog.png');
    width: 281px;
}

.item-Wond {

    background: url('./../../Images/a/Spon/WonderShare-Blog.png');
    width: 281px;
}

/*Feat Vids*/
.item-Empire {

    background: url('./../../Images/a/FeatVid/Empire-F.png');
    width: 281px;
}

.item-100 {

    background: url('./../../Images/a/FeatVid/100-T.png');
    width: 281px;
}

.item-Bianca {
    background: url('./../../Images/a/FeatVid/Biana.png');
    width: 281px;
}

.item-Gab,
.item-Minds,
.item-Teleg,
.item-bitp
.item-4,
.item-5,
.item-6,
.item-Glass,
.item-Brave,
.item-Wond,
.item-Empire,
.item-100,
.item-Bianca {
    background-size: cover;
    background-position: 50% 50%;
}

/*Books Desktop*/
.book,
.book-bd {

    height: 300px;
    width: 200px;
}

.bd-CBE {

    background: url('./../../Images/Icons/Books/D-Books/A-History-Of-Central-Banking-And-The-Enslavement-Of Mankind.png');
}

.bd-COC {

    background: url('./../../Images/Icons/Books/D-Books/Culture-of-Critique.png');
}

.bd-MK {

    background: url('./../../Images/Icons/Books/D-Books/Mein-Kampf.png');
}

.bd-TTTW {

    background: url('./../../Images/Icons/Books/D-Books/This-Time-The-World.png');
}

.bd-TIJ {

    background: url('./../../Images/Icons/Books/D-Books/International-Jew.png');
}

.bd-WP {

    background: url('./../../Images/Icons/Books/D-Books/White-Power.png');
}

.bd-HS {

    background: url('./../../Images/Icons/Books/D-Books/Hell-Storm.png');
}

.bd-TTD {

    background: url('./../../Images/Icons/Books/D-Books/Turner-Diaries.png');
}

.bd-WWWM {

    background: url('./../../Images/Icons/Books/D-Books/Which-Way-Western-Man.png');
}

.bd-WEA {

    background: url('./../../Images/Icons/Books/D-Books/Who-We-Are.png');
}

.bd-ATR {

    background: url('./../../Images/Icons/Books/D-Books/Anti-Tech-Revolution.png');
}

.bd-TJRS {

    background: url('./../../Images/Icons/Books/D-Books/Jewish-Revolutionary-Spirit.png');
}

.bd-JMS {

    background: url('./../../Images/Icons/Books/D-Books/Siege.png');
}

.bd-WBRW {

    background: url('./../../Images/Icons/Books/D-Books/Where-Black-Rules-Whites.png');
}

.bd-TWL {

    background: url('./../../Images/Icons/Books/D-Books/Tomorrow-We-Live.png');
}

.bd-CBE,
.bd-COC,
.bd-MK,
.bd-TTTW,
.bd-TIJ,
.bd-WP,
.bd-HS,
.bd-TTD,
.bd-WWWM,
.bd-WEA,
.bd-ATR,
.bd-TJRS,
.bd-JMS,
.bd-WWRW,
.bd-TWL {

    background-size: cover;
    background-position: 50% 50%;
}

/* Book Mobile*/
.bookm,
.bookm-bm {

    height: 160px;
    width: 107px;
}

.bm-88 {

    background: url('./../../Images/Icons/Books/M-Books/88-Precepts.png');
}

.bm-CBE {

    background: url('./../../Images/Icons/Books/M-Books/A-History-Of-Central-Banking-And-The-Enslavement-Of Mankind.png');
}

.bm-ATR {

    background: url('./../../Images/Icons/Books/M-Books/Anti-Tech-Revolution.png');
}

.bm-COC {

    background: url('./../../Images/Icons/Books/M-Books/Culture-of-Critique.png');
}

.bm-FA {

    background: url('./../../Images/Icons/Books/M-Books/Faith-and-Action.png');
}

.bm-FESD {

    background: url('./../../Images/Icons/Books/M-Books/Fascist-Economics-and-Socialist-Duties.png');
}

.bm-FML {

    background: url('./../../Images/Icons/Books/M-Books/For-My-Legionaries.png');
}

.bm-HS {

    background: url('./../../Images/Icons/Books/M-Books/Hell-Storm.png');
}

.bm-IJ {

    background: url('./../../Images/Icons/Books/M-Books/International-Jew.png');
}

.bm-TJRS {

    background: url('./../../Images/Icons/Books/M-Books/Jewish-Revolutionary-Spirit.png');
}

.bm-MK {

    background: url('./../../Images/Icons/Books/M-Books/Mein-Kampf.png');
}

.bm-MPOW {

    background: url('./../../Images/Icons/Books/M-Books/Meta-Pysics-of-War.png');
}

.bm-NSB {

    background: url('./../../Images/Icons/Books/M-Books/National-Socialism-A-Biological-Worldview.png');
}

.bm-JMS {

    background: url('./../../Images/Icons/Books/M-Books/Siege.png');
}

.bm-TSL {

    background: url('./../../Images/Icons/Books/M-Books/The-Sun-and-the-Lightening.png');
}

.bm-TTTW {

    background: url('./../../Images/Icons/Books/M-Books/This-Time-The-World.png');
}

.bm-TWL {

    background: url('./../../Images/Icons/Books/M-Books/Tomorrow-We-Live.png');
}

.bm-TTD {

    background: url('./../../Images/Icons/Books/M-Books/Turner-Diaries.png');
}

.bm-WBRW {

    background: url('./../../Images/Icons/Books/M-Books/Where-Black-Rules-White.png');
}

.bm-WWWM {

    background: url('./../../Images/Icons/Books/M-Books/Which-Way-Western-Man.png');
}

.bm-WP {

    background: url('./../../Images/Icons/Books/M-Books/White-Power.png');
}

.bm-WEA {

    background: url('./../../Images/Icons/Books/M-Books/Who-We-Are.png');
}

.bm-88,
.bm-CBE,
.bm-ATR,
.bm-COC,
.bm-FA,
.bm-FESD,
.bm-FML,
.bm-HS,
.bm-IJ,
.bm-TJRS,
.bm-MK,
.bm-MPOW,
.bm-NSB,
.bm-JMS,
.bm-TSL,
.bm-TTTW,
.bm-TWL,
.bm-TTD,
.bm-WBRW,
.bm-WWWM,
.bm-WP,
.bm-WEA {

    background-size: cover;
    background-position: 50% 50%;
}

/*Saints*/
.saint,
.saint-sd {

    height: 300px;
    width: 200px;
}

.sd-Tarrant {

    background: url('./../../Images/Icons/Books/Saints/D-Saint/GreatReplacement.png');
}

.sd-Roof {

    background: url('./../../Images/Icons/Books/Saints/D-Saint/ForgiveTypos.png');
}

.sd-Breivik {

    background: url('./../../Images/Icons/Books/Saints/D-Saint/Breivik.png');
}

.sd-Earnest {

    background: url('./../../Images/Icons/Books/Saints/D-Saint/OpenLetter.png');
}

.sd-Kacz {

    background: url('./../../Images/Icons/Books/Saints/D-Saint/IndustiralSociety.png');
}

.sd-Tarrant,
.sd-Roof,
.sd-Breivik,
.sd-Earnest,
.sd-Kacz {

    background-size: cover;
    background-position: 50% 50%;
}

.saintm,
.saintm-sm {

    height: 160px;
    width: 107px;
}

.sm-Tarrant {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/GreatReplacement.png');
}

.sm-Roof {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/ForgiveTypos.png');
}

.sm-Breivik {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/Breivik.png');
}

.sm-Earnest {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/OpenLetter.png');
}

.sm-Earnestos {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/OurStand.png');
}

.sm-Kacz {

    background: url('./../../Images/Icons/Books/Saints/M-Saint/IndustiralSociety.png');
}

.sd-Tarrant,
.sd-Roof,
.sd-Breivik,
.sd-Earnest,
.sm-Earnestos,
.sd-Kacz {

    background-size: cover;
    background-position: 50% 50%;
}

/*Music*/
.musicm,
.musicm-mm {

    height: 120px;
    width: 120px;
}

.mm-BWA {

    background: url('./../../Images/Icons/Music/Woke-Alone.png');
}

.mm-BKM {

    background: url('./../../Images/Icons/Music/Kampf-Mixtape2.png');
}

.mm-BNGA {

    background: url('./../../Images/Icons/Music/Nazi-Afr.png');
}

.mm-BSO {

    background: url('./../../Images/Icons/Music/Screw-Optics.png');
}

.mm-REOC {

    background: url('./../../Images/Icons/Music/Enema-of-the-Caliphate.png');
}

.mm-RCB {

    background: url('./../../Images/Icons/Music/Blink1488.png');
}

.mm-RWDS {

    background: url('./../../Images/Icons/Music/RWDS.png');
}

.mm-MOR {

    background: url('./../../Images/Icons/Music/Mork.png');
}

.mm-GST {

    background: url('./../../Images/Icons/Music/Great-Soundtrack.png');
}

.mm-BWA,
.mm-BKM,
.mm-BNGA,
.mm-BSO,
.mm-REOC,
.mm-RCB,
.mm-RWDS,
.mm-MOR,
.mm-GST {

    background-size: cover;
    background-position: 50% 50%;
}

/*Videos*/
.videom,
.videom-vm {

    height: 169px;
    width: 300px;
}

.vm-AHGSNT {

    background: url('./../../Images/Icons/Video/AHGSNT.png');
}

.vm-HSTO {

    background: url('./../../Images/Icons/Video/HellStorm.png');
}

.vm-GLR {

    background: url('./../../Images/Icons/Video/GLRNS.png');
}

.vm-AHGSNT,
.vm-HSTO,
.vm-GLR {

    background-size: cover;
    background-position: 50% 50%;
}

/*Arcade*/
.arcadem,
.arcadem-am {

    height: 112px;
    width: 220px;
}

.am-AG {

    background: url('./../../Images/Icons/Arcade/AG.png');
}

.am-AG2 {

    background: url('./../../Images/Icons/Arcade/AG2.png');
}

.am-MMI {

    background: url('./../../Images/Icons/Arcade/MMI.png');
}

.am-ZN {

    background: url('./../../Images/Icons/Arcade/ZN.png');
}

.am-ZN2 {

    background: url('./../../Images/Icons/Arcade/ZN2.png');
}

.am-RG {

    background: url('./../../Images/Icons/Arcade/Resist.png');
}

.am-AG,
.am-AG2,
.am-MMI,
.am-ZN,
.am-ZN2,
.am-RG {

    background-size: cover;
    background-position: 50% 50%;
}

/*Shop*/
.shopm,
.shopm-sm {

    height: 300px;
    width: 300px;
}

.sm-Pete {

    background: url('./../../Images/Icons/Shop/Pete.png');
}

.sm-Shopd {

    background: url('./../../Images/Icons/Shop/Shopd.png');
}

.sm-Pete,
.sm-Shopd {

    background-size: cover;
    background-position: 50% 50%;
}

/*Movies*/
.moviez,
.moviez-md {

    height: 300px;
    width: 200px;
}

.md-BLT {

    background: url('./../../Images/Icons/Movie/Brave-Little-Toaster.png');
}

.md-CHL {

    background: url('./../../Images/Icons/Movie/Cool-Hand-Luke.png');
}

.md-FC {

    background: url('./../../Images/Icons/Movie/FightClub.png');
}

.md-GAG {

    background: url('./../../Images/Icons/Movie/God-&-Generals.png');
}

.md-INT {

    background: url('./../../Images/Icons/Movie/In-Time.png');
}

.md-LN {

    background: url('./../../Images/Icons/Movie/Little-Nemo.png');
}

.md-MN {

    background: url('./../../Images/Icons/Movie/mrnobody.png');
}

.md-OUAF {

    background: url('./../../Images/Icons/Movie/Once-Upon-a-Forrest.png');
}

.md-PAP {

    background: url('./../../Images/Icons/Movie/Papillion.png');
}

.md-PIF {

    background: url('./../../Images/Icons/Movie/Pay-It-Forward.png');
}

.md-POP {

    background: url('./../../Images/Icons/Movie/Popeye.png');
}

.md-POW {

    background: url('./../../Images/Icons/Movie/Powder.png');
}

.md-PUFF {

    background: url('./../../Images/Icons/Movie/Puff.png');
}

.md-SOAW {

    background: url('./../../Images/Icons/Movie/Soaw.png');
}

.md-VS {

    background: url('./../../Images/Icons/Movie/Vanilla-Sky.png');
}



.md-BLIST {

    background: url('./../../Images/Icons/Movie/TvShow/BlackList.png');
}

.md-BBAD {

    background: url('./../../Images/Icons/Movie/TvShow/BreakingBad.png');
}

.md-CONTI {

    background: url('./../../Images/Icons/Movie/TvShow/Continuum.png');
}

.md-DEX {

    background: url('./../../Images/Icons/Movie/TvShow/Dexter.png');
}

.md-DOLL {

    background: url('./../../Images/Icons/Movie/TvShow/DollHouse.png');
}

.md-NIPT {

    background: url('./../../Images/Icons/Movie/TvShow/NipTuck.png');
}

.md-PB {

    background: url('./../../Images/Icons/Movie/TvShow/PrisonBreak.png');
}

.md-WENTW {

    background: url('./../../Images/Icons/Movie/TvShow/WentWorth.png');
}

.md-BLT,
.md-CHL,
.md-FC,
.md-GAG,
.md-INT,
.md-LN,
.md-MN,
.md-OUAF,
.md-PAP,
.md-PIF,
.md-POP,
.md-POW,
.md-PUFF,
.md-SOAW,
.md-VS,
.md-BLIST,
.md-BBAD.
.md-CONTI,
.md-DEX,
.md-DOLL,
.md-NIPT,
.md-PB,
.md-WENTW {

    background-size: cover;

    background-position: 50% 50%;

}

/* Synopsis*/
.LNSTSYPB,
.LNSTSYP-ls {}
.ls-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-SypBlog.png');
    height: 110px;
    width: 250px;
}

.ls-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-SypBlogH.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTCover {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-OOT.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTParasite {

    background: url('./../../Images/Blog/LNST/Sypnosis/Intjewb.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTSage {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Sages.png');
    height: 180px;
    width: 320px;
}

.ls-LNSTStonei {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Spiritual.png');
    height: 102px;
    width: 200px;
}

.ls-LNSTSH {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Swatsi-Hyrule.png');
    height: 120px;
    width: 200px;
}

.ls-LNSTTakeT {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-takethis.png');
    height: 157px;
    width: 319px;
}

.ls-LNSTNLens {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Lensneeds.gif');
    height: 108px;
    width: 200px;
    display: inline;
}

.ls-LNSTofTruth {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Lensof-Truth.gif');
    height: 110px;
    width: 200px;
    display: inline;
}

.ls-LNSTMirroSi {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Muz-Mirror.gif');
    height: 243px;
    width: 320px;
}

.ls-LNSTSeasons {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Season.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTAges {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Ages.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTGotCistern {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-GotCistern.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTBrokenCist {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-brokenCistern.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTGoldCistern {

    background: url('./../../Images/Blog/LNST/Sypnosis/Nst-GoldIdol.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTAsuraCist {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Asura.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTFireCistern {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-FireSanc.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTOrginCist {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-CisternOrigin.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTLeviath {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Leviath.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTLeviathB {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-LeviathBeast.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTRedLion {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-RedLion.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTRedLionKing {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-RedLionKing.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTTriHate {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-TriHate.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTJewMad {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Jewmad.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTGreedHatred {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-GreedHatred.png');
    height: 224px;
    width: 320px;
}

.ls-LNSTBongo {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-BongoBongo.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTJewdendorf {

    background: url('./../../Images/Blog/LNST/Sypnosis/NST-Jewdendorf.png');
    height: 169px;
    width: 300px;
}

.ls-LNSTBthum,
.ls-LNSTHthum,
.ls-LNSTCover,
.ls-LNSTParasite,
.ls-LNSTSage,
.ls-LNSTStonei,
.ls-LNSTSH,
.ls-LNSTTakeT,
.ls-LNSTNLens,
.ls-LNSTofTruth,
.ls-LNSTMirroSi,
.ls-LNSTSeasons,
.ls-LNSTAges,
.ls-LNSTGotCistern,
.ls-LNSTBrokenCist,
.ls-LNSTGoldCistern,
.ls-LNSTAsuraCist,
.ls-LNSTFireCistern,
.ls-LNSTOrginCist,
.ls-LNSTLeviath,
.ls-LNSTLeviathB,
.ls-LNSTRedLion,
.ls-LNSTRedLionKing .ls-LNSTTriHate,
.ls-LNSTJewMad,
.ls-LNSTGreedHatred,
.ls-LNSTBongo,
.ls-LNSTJewdendorf {

    background-size: cover;
    background-position: 50% 50%;
}

/*Race*/
.LNSTRACB,
.LNSTRACB-lr {}
.lr-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-RaceBlog.png');
    height: 110px;
    width: 250px;
}

.lr-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-RaceBlogH.png');
    height: 169px;
    width: 300px;

}

.lr-LNSTH2thum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-RaceBlogH2.png');
    height: 169px;
    width: 300px;
}

.lr-LNSTQues {

    background: url('./../../Images/Blog/LNST/Race/NST-Zelda-Race.png');
    height: 110px;
    width: 200px;
}

.lr-LNSTevo {

    background: url('./../../Images/Blog/LNST/Race/NST-Atlantians-Ev.jpg');
    height: 120px;
    width: 200px;
}

.lr-LNSTBthum,
.lr-LNSTHthum,
.lr-LNSTQues,
.lr-LNSTevo {

    background-size: cover;
    background-position: 50% 50%;
}

/* Shield*/
.LNSTShild,
.LNSTShild-ll {}
.ll-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-ShieldBlog.png');
    height: 110px;
    width: 250px;
}

.ll-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-ShieldBlogH.png');
    height: 169px;
    width: 300px;
}

.ll-LNSTH2thum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-ShieldBlogH2.png');
    height: 169px;
    width: 300px;
}

.ll-LNSTBthum,
.ll-LNSTHthum {

    background-size: cover;
    background-position: 50% 50%;
}

/* Timeline */
.LNSTTime,
.LNSTTime-tl {}
.tl-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-TimeBlog.png');
    height: 110px;
    width: 250px;
}

.tl-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TimeBlogH.png');
    height: 169px;
    width: 300px;
}

.tl-LNSTH2thum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TimeBlogH2.png');
    height: 169px;
    width: 300px;
}

.tl-LNSTBthum,
.tt-LNSTHthum {

    background-size: cover;
    background-position: 50% 50%;
}

/* TriForce */
.LNSTrif,
.LNSTrif-lf {}
.lf-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-TriFBlog.png');
    height: 110px;
    width: 250px;
}

.lf-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TrifBlogH.png');
    height: 169px;
    width: 300px;
}

.lf-LNSTH2thum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TrifBlogH2.png');
    height: 169px;
    width: 300px;
}

.lf-LNSTBthum,
.lf-LNSTHthum,
.lf-LNSTH2thum {

    background-size: cover;
    background-position: 50% 50%;
}


/* Religion */
.LNSTRelig,
.LNSTRelig-lc {}
.lc-LNSTBthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/NST-ReligionBlog.png');
    height: 110px;
    width: 250px;
}

.lc-LNSTHthum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-ReligionBlogH.png');
    height: 169px;
    width: 300px;
}

.lc-LNSTH2thum {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-ReligionBlogH2.png');
    height: 169px;
    width: 300px;
}

.lc-LNSTBthum,
.lc-LNSTHthum, {

    background-size: cover;
    background-position: 50% 50%;
}

/*Link NatSocTheory Glyph*/
.LNSTSVG,
.LNSTSVG-sv {}
.sv-LNSTsyp {

    background: url('./../../Images/Icons/SVG/triforce.svg');
}

.sv-LNSTrace {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TrifBlogH.png');
    height: 169px;
    width: 300px;
}

.sv-LNSTshiel {

    background: url('./../../Images/Blog/LNST/LNSTThumbs/Header/NST-TrifBlogH2.png');
    height: 169px;
    width: 300px;
}

.sv-LNSTsyp,
.sv-LNSTrace,
.sv-LNSTshiel {

    background-size: cover;
    background-position: 50% 50%;
}

.InspireB,
.InspireB-IB {}
.IB-SoftH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Soft.png');
    height: 110px;
    width: 250px;
}

.IB-MovieH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Movie.png');
    height: 110px;
    width: 250px;
}

.IB-CryptoH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Crypto.png');
    height: 110px;
    width: 250px;
}

.IB-CodeH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Code.png');
    height: 110px;
    width: 250px;
}

.IB-PhotoH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Photo.png');
    height: 110px;
    width: 250px;
}

.IB-AudioH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Audio.png');
    height: 110px;
    width: 250px;
}

.IB-GaboH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Gab.png');
    height: 110px;
    width: 250px;
}

.IB-SermantH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-Sermantics.png');
    height: 110px;
    width: 250px;
}

.IB-WhiteWorldH {

    background: url('./../../Images/Icons/Blog/Headers/Blog-WWorld.png');
    height: 110px;
    width: 250px;
}

.IB-SoftH,
.IB-MovieH,
.IB-CryptoH,
.IB-CodeH,
.IB-PhotoH,
.IB-AudioH,
.IB-GaboH,
.IB-SermantH,
.IB-WhiteWorldH {
    background-size: cover;
    background-position: 50% 50%;
}
/*Tech Images*/

.TechSW,
.TechSW-swt {}
.swt-TechSWBthum {

    background: url('./../../Images/Blog/TechSW/TechSWThumbs/NST-SypBlog.png');
    height: 110px;
    width: 250px;
}

.swt-TechSWBrave {

    background: url('./../../Images/Icons/Blog/Software/Brave.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWBraveSearch {

    background: url('./../../Images/Icons/Blog/Software/Brave-Search.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWProMail {

    background: url('./../../Images/Icons/Blog/Software/proton-mail.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWProVPN {

    background: url('./../../Images/Icons/Blog/Software/proton-vpn.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWProCal {

    background: url('./../../Images/Icons/Blog/Software/proton-calender.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWProDrive {

    background: url('./../../Images/Icons/Blog/Software/proton-drive.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWProBridge {

    background: url('./../../Images/Icons/Blog/Software/proton-bridge.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWBraveMeta {

    background: url('./../../Images/Icons/Blog/Software/Bravemeta.png');
    height: 169px;
    width: 169px;
}

.swt-TechSWUpHold {

    background: url('./../../Images/Icons/Blog/Software/Uphold.png');
    height: 169px;
    width: 200px;
}

.swt-TechSWGithub {

    background: url('./../../Images/Icons/Blog/Software/Github.png');
    height: 169px;
    width: 169px;
}

.swt-TechNode {

    background: url('./../../Images/Icons/Blog/Software/NodeJs.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWNPM {

    background: url('./../../Images/Icons/Blog/Software/NpmNode.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWPYpi {

    background: url('./../../Images/Icons/Blog/Software/PypiNode.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWFreenom {

    background: url('./../../Images/Icons/Blog/Software/Freenom.png');
    height: 110px;
    width: 200px;
}

.swt-TechSWCloudF {

    background: url('./../../Images/Icons/Blog/Software/CloudFare.png');
    height: 110px;
    width: 200px;
}

.swt-TechSWJSD {

    background: url('./../../Images/Icons/Blog/Software/JsDelivr.png');
    height: 110px;
    width: 200px;
}

.swt-TechSWCDNJS {

    background: url('./../../Images/Icons/Blog/Software/CdnJs.png');
    height: 110px;
    width: 200px;
}

.swt-TechSWWin7 {

    background: url('./../../Images/Icons/Blog/Software/Windows7.png');
    height: 243px;
    width: 320px;
}

.swt-TechSWCClean {

    background: url('./../../Images/Icons/Blog/Software/Cleaner.png');
    height: 169px;
    width: 282px;
}

.swt-TechSWWampServe {

    background: url('./../../Images/Icons/Blog/Software/WampServe.png');
    height: 169px;
    width: 282px;
}

.swt-TechSWFileServer {

    background: url('./../../Images/Icons/Blog/Software/FileZilla.png');
    height: 169px;
    width: 282px;
}

.swt-TechSWSublime {

    background: url('./../../Images/Icons/Blog/Software/SublimeText3.png');
    height: 200px;
    width: 200px;
}

.swt-TechSWSubPack {

    background: url('./../../Images/Icons/Blog/Software/SubPack.png');
    height: 169px;
    width: 282px;
}

.swt-TechSWFileC {

    background: url('./../../Images/Icons/Blog/Software/FileConvert.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWWonders {

    background: url('./../../Images/Icons/Blog/Software/Wondershare.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWHandBrake {

    background: url('./../../Images/Icons/Blog/Software/Handbrake.png');
    height: 120px;
    width: 200px;
}

.swt-TechSWPhotoShop {

    background: url('./../../Images/Icons/Blog/Software/PhotoShop.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWAfterEffect {

    background: url('./../../Images/Icons/Blog/Software/AfterEffect.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWAtom {

    background: url('./../../Images/Icons/Blog/Software/Atom.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWNotePad {

    background: url('./../../Images/Icons/Blog/Software/NotePad++.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWGimp {

    background: url('./../../Images/Icons/Blog/Software/Gimp.png');
    height: 169px;
    width: 169px;
}

.swt-TechSWBlender {

    background: url('./../../Images/Icons/Blog/Software/Blender.png');
    height: 92px;
    width: 300px;
}

.swt-TechSWProTool {

    background: url('./../../Images/Icons/Blog/Software/ProTools.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWNativeI {

    background: url('./../../Images/Icons/Blog/Software/NIK.png');
    height: 169px;
    width: 253px;
}

.swt-TechSWWaves {

    background: url('./../../Images/Icons/Blog/Software/Waves.png');
    height: 169px;
    width: 253px;
}

.swt-TechSWFabFilter {

    background: url('./../../Images/Icons/Blog/Software/FabFilter.png');
    height: 169px;
    width: 253px;
}

.swt-TechSWLegacy {

    background: url('./../../Images/Icons/Blog/Software/Legacy.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWRenpy {

    background: url('./../../Images/Icons/Blog/Software/Renpy.png');
    height: 169px;
    width: 168px;
}

.swt-TechSWGoDot {

    background: url('./../../Images/Icons/Blog/Software/GoDot.png');
    height: 169px;
    width: 169px;
}

.swt-TechSWUnity {

    background: url('./../../Images/Icons/Blog/Software/Unity.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWDefold {

    background: url('./../../Images/Icons/Blog/Software/Defold.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWGreedHatred {

    background: url('./../../Images/Blog/TechSW/Sypnosis/NST-GreedHatred.png');
    height: 224px;
    width: 320px;
}

.swt-TechSWBongo {

    background: url('./../../Images/Blog/TechSW/Sypnosis/NST-BongoBongo.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWJewdendorf {

    background: url('./../../Images/Blog/TechSW/Sypnosis/NST-Jewdendorf.png');
    height: 169px;
    width: 300px;
}

.swt-TechSWBrave,
.swt-TechSWBraveSearch,
.swt-TechSWProMail,
.swt-TechSWProVPN,
.swt-TechSWProCal,
.swt-TechSWProDrive,
.swt-TechSWProBridge,
.swt-TechSWBraveMeta,
.swt-TechSWUpHold,
.swt-TechSWGithub,
.swt-TechNode,
.swt-TechSWNPM,
.swt-TechSWPYpi,
.swt-TechSWFreenom,
.swt-TechSWCloudF,
.swt-TechSWJSD,
.swt-TechSWCDNJS,
.swt-TechSWWin7,
.swt-TechSWCClean,
.swt-TechSWWampServe,
.swt-TechSWFileServer,
.swt-TechSWSublime,
.swt-TechSWSubPack,
.swt-TechSWAtom,
.swt-TechSWNotePad,
.swt-TechSWFileC,
.swt-TechSWWonders,
.swt-TechSWHandBrake,
.swt-TechSWPhotoShop,
.swt-TechSWAfterEffect,
.swt-TechSWGimp,
.swt-TechSWBlender,
.swt-TechSWProTool,
.swt-TechSWNativeI,
.swt-TechSWWaves,
.swt-TechSWFabFilter,
.swt-TechSWLegacy,
.swt-TechSWRenpy,
.swt-TechSWGoDot,
.swt-TechSWUnity,
.swt-TechSWDefold {

    background-size: cover;
    background-position: 50% 50%;
}
